a {
  text-decoration: none;
  color: #FFFFFF;
}

a:hover {
  color: darkgrey;
} 

.MuiButtonBase-root MuiButton-root MuiButton-text makeStyles-menuButton-3 MuiButton-colorInherit {
  color: #FFFFFF;
}