/* video background config */

* { box-sizing: border-box; }
.video-background {
  background: #000;
  position: fixed;
  top: 0; right: 0; bottom: 0; left: 0;
  z-index: -99;
}
.video-foreground,
.video-background iframe {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  pointer-events: none;
}

@media (min-aspect-ratio: 16/9) {
  .video-foreground { height: 300%; top: -100%; }
}
@media (max-aspect-ratio: 16/9) {
  .video-foreground { width: 300%; left: -100%; }
}

/* front page body config */

.frontPageContainer {
  justify-content: center;
  align-items: center;
}

.frontPageBody {
  display: flex;
  justify-content: center;
  align-items: center;
}

.pageTitle {
  margin-top: 120px;
  display: flex;
  justify-content: center;
  color: rgba(234, 226, 183, 0.9);
  text-shadow: 1.5px 1.5px 1.5px #000;
}

.roomButtons {
  display: flex;
  justify-content: center;
}

h1 {
  font-size: 4em;
  margin-bottom: 0;
}

h1 .pgtitle {
  display: flex;
  justify-content: center;
  text-align: center;
}

.create-room {
  margin-right: 15px;
}

.join-room {
  margin-left: 15px;
}

