* { 
  font-family: 'Helvetica Neue', sans-serif;
}

html, #root, body, .App {
  min-width: 100vw;
  min-height: 100vh;
  margin: 0px;
  padding: 0px;
  overflow-x: hidden;
  overflow-y: hidden;
  /* display: flex; 
  align-items: center;
  justify-content: space-between; */
}