#mainBody {
  display: flex;
  flex-direction: column;
  text-align: left;
  margin-top: 3%;
  margin-left: 5%;
}

#aboutPgTitle{ 
  font-family: 'Work Sans', sans-serif;
  font-weight: 500;
  color: #ffffff;
  letter-spacing: 0.1em;
}

body {
  color: #FFFFFF;
}

#madeByTitle {
  color: rgba(255,255,255,0.8);
}

#madeByBody {
  text-align: right;
  position: absolute;
  bottom: 0px;
  right: 0px;
  margin-bottom: 5%;
  margin-right: 5%;
  /* margin: 5em; */
}

#aboutPageText {
  font-size: 1.5em;
  margin-top: 3px;
  margin-left: 3%;
}

.madeByName {
  font-size: 1.5em;
}

a {
  text-transform: uppercase;

  font-size: medium;
  font-weight: bold;
  color: rgba(255,255,255,0.7);

}

a:hover{
  color: #FFFFFF;
}