.container {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
}

.videoPlayer {
  display: flex;
  width: 100%;
}

img {
  width: 100%;
  height: 100%;


}

.SideBarNav {
 width: 20%;
}

