body {
  /* background: rgb(2,0,36);
  background: linear-gradient(156deg, rgba(2,0,36,1) 1%, rgba(252,191,73,1) 78%, rgba(252,191,73,1) 79%, rgba(214,40,40,1) 100%); */
  background: rgb(2,0,36);
background: linear-gradient(164deg, rgba(2,0,36,1) 0%, rgba(252,191,73,1) 69%, rgba(252,191,73,1) 76%, rgba(214,40,40,1) 100%);
}

/* .App {
  display: flex;
  flex-direction: column;
} */

.container {
  display: flex;
  flex-direction: row;
  min-width: 100vw;
} 

.sideBarContainer, .sideBar {
  border-left: 1px solid rgba(225, 225, 225, 0.2);
  border-top: 1px solid rgba(225, 225, 225, 0.2);
}

.__react_component_tooltip {
  transition: opacity 0.3s ease-in-out, visibility 0.3s ease-out !important;
  opacity: 0 !important;
  visibility: visible;
}

.__react_component_tooltip.show {
  visibility: visible;
  opacity: 1 !important;
}

.utilityContainer {
  list-style-type: none;
  border-left: 1px solid rgba(225, 225, 225, 0.2);
  border-bottom: 1px solid rgba(225, 225, 225, 0.2);
  font-family: 'Roboto', sans-serif;
  padding-bottom: 3%;
  padding-top: 3%;
  padding-left: 3%;
  padding-right: 3%;
  display: flex;
  justify-content: space-between;
 }

.nowPlayingSection {
  padding-bottom: 5%;
  padding-top: 3%;
  padding-left: 3%;
  padding-right: 3%;
}

.nowPlayingLabel {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  font-family: 'Helvetica Neue';
  color: #ffffff;
}

.nowPlayingVideoTitle {
  font-weight: 300;
  font-style: italic;
}

.nowNotPlayingVideoTitle {
  font-weight: 300;
  font-style: italic;
  margin-left: 2%;
}

.userIcon {
  position: relative;
  top: 7px;
  left: 5px;
}
